@import 'variables-th-sw';



.fourth-section{
    min-height: 580px;
    padding-top: 44px;
    padding-bottom: 44px;
    &__container{
        position: relative;
        width: 1285px;
        margin: 0 auto;
        padding: 0 32px;
    }
    &__title{
        text-align: center;
        font-size: 40px;
        line-height: 120%;
        color: $color-h2-darkgray;
    }
    &__text-container{
        margin: 13px 16px;
        text-align: left;
        ///width: 80%;
        &_top{
            font-family: GilroyM;
            font-size: 24px;
            line-height: 120%;
            color: $color-h2-darkgray;
            margin-bottom: 8px;
        }
        &_bot{
            font-family: GilroyR;
            font-size: 14px;
            line-height: 150%;
            color: $color-p-lightgray;
        }
    }
}


@media (max-width: 1440px) {
    .fourth-section{
        &__container{
            width: 90%;
        }
    }   
}