$color-white: #FFFFFF;
$color-grey2: #616161;
$color-lightred: #F9F1E7;
$notwhitebutwhite: #fcf8f2;
$light-blue:#ffffffce;
$color-grey-points: #D8D8D8;
$color-primary: #E89F71;

$color-h2-darkgray: #3A3A3A;
$color-p-lightgray: #898989;