@import 'variables';

.btn{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 138px;
    top: 173px;
    right: 233px;
    z-index: 4;
    &__shop-now{
        background-color: $color-primary;
        width: 75%;
        height: 14%;
        margin-left: 12%;
        border: none;
    }
    &__show-more{
        padding: 12px 82px;
        color: $color-primary;
        font-size: 16px;
        line-height: 150%;
        background-color: $color-white;
        border: 1px solid $color-primary;
    }
    &__add-to-cart{
        padding: 12px 50px;
        color: $color-primary;
        font-size: 16px;
        line-height: 150%;
        background-color: $color-white;
        border: none;
    }
}

.swiper-button-prev::after, .swiper-button-next::after{
    color: $color-white;
    font-size: 15px;
}

.swiper-button-prev__top-section, .swiper-button-next__top-section{
    width: 48px;
    height: 48px;
    background-color: $color-primary;
    border-radius: 24px;
}

@media (max-width: 1440px){
    .btn{
        right: 100px;
    }
}