$color-white: #ffffff;
$color-grey2: #616161;
$color-lightred: #f9f1e7;
$notwhitebutwhite: #fcf8f2;
$light-blue: #ffffffce;
$color-grey-points: #d8d8d8;
$color-primary: #e89f71;

$color-h2-darkgray: #3a3a3a;
$color-p-lightgray: #898989;

$notwhitebutwhite2: rgba(252, 248, 242, 0.567);
