.real-slider{
    margin-top: 121px;
    min-height: 774px;
    overflow: hidden;
    &__wrapper{
        width: 100%;
        height: 553px;
    }
    &__slide{
        width: 100% !important;
        height: 100%;
        background-color: black;
    }
}
