@import "normalize1";
@import "resets";


@font-face {
    font-family: GilroyB;
    src: url(../font/gilroy-bold.ttf);
}
@font-face {
    font-family: GilroyH;
    src: url(../font/gilroy-heavy.ttf);
}
@font-face {
    font-family: GilroyM;
    src: url(../font/gilroy-medium.ttf);
}
@font-face {
    font-family: GilroyR;
    src: url(../font/gilroy-regular.ttf);
}

h1{
    font-family: GilroyB;
}

p{
    font-family: GilroyR;
}


.top-section{
    min-height: 774px;
    max-width: 2866px;
    &__nav-container{
        width: 1240px;
        height: 45px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
}

.nav-menu{
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.icons{
    display: flex;
}