@import "normalize1";
@import "resets";


@font-face {
    font-family: GilroyB;
    src: url(../font/gilroy-bold.ttf);
}
@font-face {
    font-family: GilroyH;
    src: url(../font/gilroy-heavy.ttf);
}
@font-face {
    font-family: GilroyM;
    src: url(../font/gilroy-medium.ttf);
}
@font-face {
    font-family: GilroyR;
    src: url(../font/gilroy-regular.ttf);
}